@import url('fontiran.css');

:root{
    --primary-color: #560c11;
    --secondary-color: #e9d9c3;
    --thirst-color: #ad936e;
}

*{
    font-family: 'IRANSansXFaNum';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}